<ion-view class="bgDark" title="Your Favorites" left-buttons="leftButtons" right-buttons="rightButtons">
<ion-content id="content" class="has-header" has-header="true" padding="true" delegate-handle="myScroll">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
<ion-list><!--<div class="list"> -->
    <a class="item item-thumbnail-left" ng-repeat="video in videos" ng-click='checkMedia(video)' ng-repeat="video in videos" ng-show="video.fav!=null">
      <img src="videoimages/{{video.vnum}}.jpg">
      <h2>{{video.video_name}}</h2>
      <p>{{video.comedian}}</p>
    </a>
</ion-list>
        <ion-infinite-scroll
                ng-if="isMoreVideos()"
                on-infinite="getMoreVideos()"
                distance="1%">
        </ion-infinite-scroll>

</ion-content>
</ion-view>